data/*.csv filter=lfs diff=lfs merge=lfs -text
data/*.tsv filter=lfs diff=lfs merge=lfs -text
data/CLIWOC21.tsv filter=lfs diff=lfs merge=lfs -text
data/cliwoc_clean.csv filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
